<%-include ("header.ejs")%>

    <div class="row">
        <div class="col-md-6 offset-md-3" style="background-color: #fff;margin-top: 25px;padding:20px;">
            <h3><a class="btn btn-secondary" href="/employee"><i class="fa fa-plus"></i> Create New</a>Rent type</h3>
        </div>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <%listRenttype.forEach(item=>{%>
                    <tr>
                        <td>
                            <%=item.name%>
                        </td>
                        <td>
                            <button id="update" data-toggle="tooltip" title="Update" class="btn btn-default"
                                onclick="up(value)" value=<%=item._id%>><i class="fas fa-user-edit"></i></button>
                            <button type="button" data-toggle="modal" class="btn btn-default" data-target="#myModal"
                                data-toggle="tooltip" title="Delete">
                                <i class="fas fa-minus-circle"></i>
                            </button>
                        </td>
                    </tr>
                    <% })%>
            </tbody>
        </table>
    </div>