<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Web Quản Lý Cho Thuê Nhà Đất</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="css/cssBuilding/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/string-strip-html/dist/string-strip-html.umd.js"></script>
</head>

<body>
    <!-- Navigation-->
    <%-include ("../public/ejspub/header.ejs")%>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/assets/img/nha4.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Nhóm TĐT</h1>
                        <span class="subheading">Quản Lý Cho Thuê Nhà Đất</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="row">
        <h3><a class="btn btn-secondary" href="./addBuilding.html"><i class="fa fa-plus"></i> Create New</a>Building
        </h3>
        <div class="col-lg-6 card mt-2 mr-0">
            <div class="row p-2">
                <div class="col-5 overflow-hidden">
                    <img src="/assets/img/nha2.jpg" class="card-img" alt="...">
                </div>
                <div class="col-7">
                    <div class="d-flex align-items-start">
                        <h5 class="w-100"><b>CHUYÊN CHO THUÊ CĂN HỘ 1,2,3,4PN VINHOMES CENTRAL PARK VÀ LANDMARK 81 GIÁ
                                TỐT NHẤT. LH 0906515***</b></h5>
                    </div>
                    <span class="align-self-stretch ">
                        Chuyên cho thuê căn hộ Vinhomes Central Park và Landmark 81 1,2,3,4 PN giá tốt nhất. LH: Căn Hộ
                        Sài Gòn 0906515***.
                        Thông tin mô tả:
                        Để tư vấn trực tiếp và biết thêm thông tin LH: Căn Hộ Sài Gòn 0906515*** (chuyên cho thuê căn hộ
                        Vinhomes Central Park).
                        Quản lý 100% căn hộ Vinhomes Central Park và Landmark 81 đang cho thuê.
                    </span>
                    <div class="d-flex align-items-end">
                        <div class="mr-2">
                            <img src="/assets/img/nha2.jpg" class="rounded-circle"
                                style="width: 40px; height: 40px;">
                        </div>
                        <div class=" flex-grow-1">
                            <h5 class="" style="font-size: 14px; line-height: 0.5rem;">
                                <span><b>dinhdop</b></span>
                            </h5>
                            <p class="post-meta" style="font-size: 8px; line-height: 0.2rem;">
                                Posted by on July 8, 2021
                            </p>
                        </div>
                        <a href="addBuilding.html" class=" align-self-end">
                            <i class='material-icons ml-3 text-black'>send</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 card mt-2 mr-0">
            <div class="row p-2">
                <div class="col-5 overflow-hidden">
                    <img src="/assets/img/nha2.jpg" class="card-img" alt="...">
                </div>
                <div class="col-7">
                    <div class="d-flex align-items-start">
                        <h5 class="w-100"><b>CHUYÊN CHO THUÊ CĂN HỘ 1,2,3,4PN VINHOMES CENTRAL PARK VÀ LANDMARK 81 GIÁ
                                TỐT NHẤT. LH 0906515***</b></h5>
                    </div>
                    <span class="align-self-stretch ">
                        Chuyên cho thuê căn hộ Vinhomes Central Park và Landmark 81 1,2,3,4 PN giá tốt nhất. LH: Căn Hộ
                        Sài Gòn 0906515***.
                        Thông tin mô tả:
                        Để tư vấn trực tiếp và biết thêm thông tin LH: Căn Hộ Sài Gòn 0906515*** (chuyên cho thuê căn hộ
                        Vinhomes Central Park).
                        Quản lý 100% căn hộ Vinhomes Central Park và Landmark 81 đang cho thuê.
                    </span>
                    <div class="d-flex align-items-end">
                        <div class="mr-2">
                            <img src="/assets/img/nha2.jpg" class="rounded-circle"
                                style="width: 40px; height: 40px;">
                        </div>
                        <div class=" flex-grow-1">
                            <h5 class="" style="font-size: 14px; line-height: 0.5rem;">
                                <span><b>dinhdop</b></span>
                            </h5>
                            <p class="post-meta" style="font-size: 8px; line-height: 0.2rem;">
                                Posted by on July 8, 2021
                            </p>
                        </div>
                        <a href="addBuilding.html" class=" align-self-end">
                            <i class='material-icons ml-3 text-black'>send</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2021</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</body>

</html>