    <%- include ('./header.ejs')%>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Nhóm TĐT</h1>
                        <span class="subheading">Web quản lý cho thuê nhà đất</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="buiding.html">
                        <h2 class="post-title">CHO THUÊ CĂN HỘ VINHOMES CENTRAL PARK GIÁ THUÊ & CHÍNH SÁCH T11/2021</h2>
                        <h3 class="post-subtitle">Dự án Vinhomes Central Park, Đường Điện Biên Phủ, Phường 22, Bình Thạnh, Hồ Chí Minh</h3>
                    </a>
                    <p class="post-meta">
                        Posted by TĐT on September 24, 2021
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older
                        Posts →</a></div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <%- include ('./footer.ejs')%>